{% block content %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='phome.css')}}">

</head>
<body>

<!DOCTYPE html>
<html>
<head>
<title>MenuBar</title>


<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet"> 


<link rel="stylesheet" href="css/home.css">

</head>
<body>


<header>
<div class="banner">
<span class="section-left">
<a href="emailto:">heal@gmail.com</a>
<a href="tel:">999999999</a>
</span>
<span class="section-right">
<a href="#"title="Facebook"><i class="fa fa-facebook"></i></a>
<a href="#"title="Instagram"><i class="fa fa-instagram"></i></a>
<a href="#"title="Twitter"><i class="fa fa-twitter"></i></a>
</span>
</div>

<div class="logo parallelogram">
<span><b>HEAL</b> -Let's HEAL Together</span>
</div>

<div class="topnav" id="myTopnav">
<a href="/logout" title="LogOut" style="float:right;"><i class="fa fa-user"></i></a>
<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>
</header>






<div class="container">
<section>
<em>WELCOME BACK DOCTOR</em>
<h1>You Make The World A Better Place</h1>
<h4></h4>

</section>
</div>
<section class="section1">
<table>
<tr>
<td>
<div class="form">
<h4>Are You</h4>
<h1>Available</h1>
  
{% if doc == "raji99@gmail.com" %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="RAJI">DR.RAJI</option>
  </select>
  <select name="doc_slot">
  <option value="TUE8-12">TUESDAY (8-12)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc =='jitin99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="JITIN">DR.JITIN</option>
  </select>
  <select name="doc_slot">
  <option value="WED11-4">WEDNESDAY (11-4)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>
  
{% elif doc == 'philips99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="PHILIPS">DR.PHILIPS</option>
  </select>
  <select name="doc_slot">
  <option value="FRI2-7">FRIDAY (2-7)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'simon99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="SIMON">DR.SIMON</option>
  </select>
  <select name="doc_slot">
  <option value="SAT9-11">SATURDAY (9-11)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'anush99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="ANUSH">DR.ANUSH</option>
  </select>
  <select name="doc_slot">
  <option value="SUN4-7">SUNDAY (4-7)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'sreelata99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="SREELATA">DR.SREELATA</option>
  </select>
  <select name="doc_slot">
  <option value="WED9-11">WEDNESDAY (9-11)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'latha99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="LATHA">DR.LATHA</option>
  </select>
  <select name="doc_slot">
  <option value="THU2-7">THURSSDAY (2-7)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'leka99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="LEKA">DR.LEKA</option>
  </select>
  <select name="doc_slot">
  <option value="FRI9-11">FRIDAY (9-11)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'jakob99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="JAKOB">DR.JAKOB</option>
  </select>
  <select name="doc_slot">
  <option value="MON9-4">MONDAY (9-4)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'seema99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="SEEMA">DR.SEEMA</option>
  </select>
  <select name="doc_slot">
  <option value="TUE2-6">TUESDAY (2-6)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'kasim99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="KASIM">DR.KASIM</option>
  </select>
  <select name="doc_slot">
  <option value="FRI2-7">FRIDAY (2-7)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'vyga99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="VYGA">DR.VYGA</option>
  </select>
  <select name="doc_slot">
  <option value="SUN10-1">SUNDAY (10-1)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'vinod99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="VINOD">DR.VINOD</option>
  </select>
  <select name="doc_slot">
  <option value="SUN3-7">SUNDAY (3-7)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'gayathri99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="GAYATHRI">DR.GAYATHRI</option>
  </select>
  <select name="doc_slot">
  <option value="MON10-2">MONDAY (10-2)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == 'kala99@gmail.com' %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="KALA">DR.KALA</option>
  </select>
  <select name="doc_slot">
  <option value="WED11-4">THURSDAY (2-7)</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>

{% elif doc == "girija99@gmail.com" %}
  <form method="POST">
  <select name="doc_name" id="doc_name">
  <option value="GIRIJA">DR.GIRIJA</option>
  </select>
  <select name="doc_slot">
  <option value="SAT9-11">SATURDAY (9-11  )</option>
  </select>
  <button onclick="myFunction()" type="submit" class="btn2">CANCEL SLOT</button>
  </form>
{% endif %}

</div>
</td>
<td>
<em>ABOUT US</em>
<h1>Get better care for your health</h1>
<p></p>
<p> </p>
</td>
</tr>
</table>
</section>
<!--SECTION3-->
<section class="section3">
<div class="cards">
<div class="card">
<a href="physician_dpmt"><section>
<h1>General Physicians</h1>

</section></a>
</div>
<div class="card">
<a href="pediatrician_dpmt"><section>
<h1>Pediatricians</h1>

</section></a>
</div>
<div class="card">
<a href="dentist_dpmt"><section>
<h1>Dentist</h1>

</section></a>
</div>
<div class="card">
  <a href="ent_dpmt"><section>
  <h1>ENT Specialist</h1>
  
  </section></a>
  </div>
  
</div>
<div class="content">
<h1>Our Departments</h1>
<p> </p>
</div>
</section>










<img src="https://i.ibb.co/ZLHbWJz/footer.png" class="footer_image">

</footer>

<script>
  function myFunction() {
    alert("Your Message Recieved Doctor");
  }
  </script>
<script src="js/custom.js"></script>
</body>
</html>

<script
type="text/javascript"
src="{{ url_for('static', filename='phome.js') }}"
></script>

</body>
</html>

{% endblock %}